/************************************/
/* FONT FAMILY ADDED (GOOGLE FONT) */
/***********************************/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=PT+Serif:wght@400;700&family=Roboto:wght@300;400&display=swap");

:root {
  --font-primary: "PT Serif", serif;
  --font-secondary: "Roboto", sans-serif;
  --font-logo: "Krona One", sans-serif;
}

/************************************/
/* SOME OF THE COLOR CODES (FIGMA) */
/***********************************/

:root {
  --primary-color: #1e276d;
  --secondary-color: #fff3e8;
  --first-sec-color: #e5f6fe;
  --last-sec-color: #dff5ff;
  --footer-color: #041720;
  --text-color: #141920;
  --span-text: #4f4f4f;
  --span-text-dark: #333333;
  --arrows-color: #4bc5ff;
  --header-top-span-color: #82828e;
  --header-border-color: #ddd;
  --body-color: #fff;
  --shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

/************************/
/* SOME OF THE SPACINGS */
/***********************/
:root {
  --max-padding: 8rem;
  --mid-padding: 6rem;
  --min-padding: 4rem;
}

/*****************************/
/* SOME DEFAULT DECLARATIONS */
/*****************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  font-family: var(--font-secondary);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
img::selection,
a::selection,
span::selection,
h4::selection,
section::selection,
nav::selection,
ul::selection,
li::selection,
button::selection,
br::selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}

/**************************/
/* HEADER SECTION STARTS */
/**************************/
.header {
  display: flex;
  flex-direction: column;
}

.header__part_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  border-bottom: 1px solid var(--header-border-color);
}

.header_part_1--inner {
  display: flex;
}

.header_part_1--inner .header___box:nth-child(2) {
  border-left: 2px solid var(--header-border-color);
}

.header___box {
  padding: 0 1rem;
  display: flex;
  gap: 0.5rem;
  color: var(--header-top-span-color);
  font-size: 1.6rem;
  font-family: var(--font-secondary);
}

.header___box:hover {
  font-weight: 600;
  color: var(--primary-color);
}

.header__part_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logoBox a {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 4rem;
  color: var(--text-color);
  font-family: var(--font-logo);
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav .nav_links {
  position: relative;
  top: 4px;
  display: flex;
  gap: 3rem;
}

.nav_link a {
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.nav_link a:hover {
  color: var(--primary-color);
}

.search_box {
  position: relative;
}

.search_box .search_input_box {
  width: 600px;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  border: 1px solid var(--header-border-color);
}

.search_box .search_input_box::placeholder {
  color: var(--header-border-color);
  font-weight: 300;
}

.search_box_span {
  position: absolute;
  top: 14px;
  right: 10px;
}

.search_box_span i {
  font-size: 2rem;
  color: var(--header-border-color);
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
  display: none;
}

.burger .line {
  width: 30px;
  height: 4px;
  background-color: var(--header-top-span-color);
}

/**************************/
/* FIRST SECTION STARTS */
/**************************/
.first_section {
  background-color: var(--first-sec-color);
  padding: var(--max-padding) var(--min-padding);
  position: relative;
}

.first_section .carousel___item {
  display: flex;
  padding: 0 5rem;
}

.first_sec_carousel_part {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel___part__1 h1 {
  font-family: var(--font-primary);
  font-size: 7rem;
  font-weight: 800;
  color: var(--text-color);
}

.carousel___part__1 p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-color);
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
}

.carousel___part__1 a {
  border-radius: 20px;
  padding: 0.8rem 2rem;
  font-size: 2rem;
  color: var(--body-color);
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.carousel___part__1 a:hover {
  background-color: var(--arrows-color);
}

#first_section .owl-next,
#first_section .owl-prev {
  position: absolute;
  top: 40%;
  font-size: 5rem !important;
  font-weight: 600 !important;
  height: 50px !important;
  width: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50% !important;
  background-color: var(--arrows-color) !important;
  color: var(--body-color) !important;
}

#first_section .owl-prev {
  left: -30px;
}

#first_section .owl-next {
  right: 0;
}

#first_section .owl-prev span {
  position: relative;
  left: -4px;
}

#first_section .owl-next span {
  position: relative;
  right: -2px;
}

/**************************/
/* SECOND SECTION STARTS */
/**************************/
.second_section {
  padding-top: var(--mid-padding);
}
.section__main__header {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
}
.section__main__header h3 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--font-primary);
}
.section__main__header a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--span-text);
}
.section__main__header a:hover {
  color: var(--primary-color);
}

.second_sec_card_row_2 {
  display: flex;
  gap: 2rem;
}

.second_sec_card {
  width: 100%;
}

.second_sec_card img {
  min-height: 200px;
  border-radius: 1rem;
  transition: all 0.5s;
}

.second_sec_card h4 {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
  padding-top: 1.5rem;
  font-weight: 600;
}

.second_section_col_2_inner .second_sec_card img {
  height: 460px;
}

.second_section_col_3_inner {
  display: flex;
  gap: 2rem;
}

.second_sec_card_row_3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.second_sec_card_row_3 .second_sec_card img {
  height: 200px;
  width: 350px;
}

.second_sec_card_row_4 .second_sec_card img {
  height: 460px;
}

.second_section_col_1,
.second_section_col_2,
.second_section_col_3 {
  padding: 2rem;
}

.second_sec_card img:hover {
  transform: scale(1.05);
}

/**************************/
/* THIRD SECTION STARTS */
/**************************/
.third_section {
  padding: var(--mid-padding) 0;
}

.section__buttons_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section__buttons_group a {
  font-size: 1.6rem;
  color: var(--span-text);
  padding: 1rem 2rem;
  border: 1px solid var(--header-border-color);
  transition: all 0.2s;
}

.section__buttons_group a:hover {
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--body-color);
}

.product__card {
  padding: 2rem;
}

.product__card:hover .product__card__inner {
  background-color: var(--secondary-color);
}

.product__card__inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--shadow);
}

.product__card h2 {
  font-size: 2rem;
  font-weight: 600;
}

.product__card span {
  font-size: 1.6rem;
}

.hidden__Redirect__box {
  margin-top: 1rem;
  display: none;
}

.product__card:hover .hidden__Redirect__box {
  display: block;
}

.product__card .product_page_link {
  background-color: #ff9900;
  color: var(--body-color);
  width: 100%;
  padding: 0.8rem 2rem;
  text-align: center;
  font-size: 1.6rem;
  border: none;
}

.product_card__last__para {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.6rem;
}

.product_price {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}

.product_image {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

/**************************/
/* FOURTH SECTION STARTS */
/**************************/
.fourth_section {
  padding: var(--mid-padding) 0;
  background: url("../images/fouth_section_bg.png") center center/cover;
  background-attachment: fixed;
}

.fourth_sec_card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.894);
  border-radius: 1rem;
}

.fourth_sec_card h4 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-primary);
  color: var(--text-color);
}

.fourth_sec_card p {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color);
}

/**************************/
/* FIFTH SECTION STARTS */
/**************************/
.fifth_section {
  padding: var(--mid-padding) 0;
}

/**************************/
/* SEVENTH SECTION STARTS */
/**************************/
.seventh_section {
  padding: var(--mid-padding) 0;
}

.section__main__header .arrow__boxes {
  display: flex;
  gap: 2rem;
}

.section__main__header .arrow__boxes span {
  text-align: center;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--arrows-color);
  color: var(--body-color);
  cursor: pointer;
}

/**************************/
/* EIGHTH SECTION STARTS */
/**************************/
.eighth_section {
  padding: var(--min-padding) 0;
}

.eighth_sec_text_col {
  background-color: var(--secondary-color);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eighth_sec_text_col h3 {
  font-size: 4rem;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--text-color);
}

.eighth_sec_text_col p {
  font-size: 2rem;
  color: var(--text-color);
}

.eighth_sec_image_col .eighthSecImage {
  position: relative;
  height: 90%;
  top: 10%;
  left: -5%;
}

/**************************/
/* NINETH SECTION STARTS */
/**************************/
.nineth_section {
  padding: var(--min-padding) 0;
}

/**************************/
/* TENTH SECTION STARTS */
/**************************/
.tenth_section {
  background-color: var(--last-sec-color);
  padding: var(--min-padding) 0;
}

.tenth_section .company__main__box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/**************************/
/* FOOTER SECTION STARTS */
/**************************/
.footer {
  padding-top: var(--mid-padding);
  background-color: var(--footer-color);
  color: var(--body-color);
}

.footer_col {
  padding-bottom: 2rem;
}

.footer_col_1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_col_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_col_3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_col_3 h3 {
  font-size: 2.4rem;
  font-weight: 800;
}

.footer_col_3 span {
  font-size: 1.6rem;
  color: var(--body-color);
}

.footer_subscription_box {
  display: flex;
  align-items: center;
}

.footer_subscription_box input {
  outline: none;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #0b2735;
  border: none;
  caret-color: var(--body-color);
  color: var(--body-color);
}

.footer_subscription_box .EmailIconBox {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 3rem;
  background-color: var(--arrows-color);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.footer_subscription_box .EmailIconBox:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.footer_col_2 a {
  color: var(--body-color);
  font-size: 1.6rem;
}

.footer__logo h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: var(--font-logo);
}

.footer___heading {
  color: var(--header-top-span-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}

.social__media_box {
  display: flex;
  gap: 2rem;
}

.social__media_box .social_media_item {
  font-size: 3rem;
  color: var(--body-color);
}

.end_line {
  background-color: var(--span-text-dark);
  color: var(--body-color);
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}
